{% extends "base.html" %}
{% load static i18n widget_tweaks %}

{% block bodyclass %}signin-page{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Активация аккаунта" %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{% trans "Аккаунт успешно активирован. Вы можете войти на сайт под своими учетными данными" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
