<p>Вы успешно прошли регистрацию на сайте {{site.name}}.</p>
<p>Ваш пароль {{password}}. Рекомендуем поменять его в ближайшее время.</p>
<p>Вы можете завершить регистрацию в течение {{expiration_days}} дней.</p>
<p>Для завершения регистрации перейдите по ссылке</p>
<p><a href="http://{{ site.domain }}{% url 'registration_activate' activation_key %}">http://{{ site.domain }}{% url 'registration_activate' activation_key %}</a></p>