{% extends "base.html" %}
{% load static i18n widget_tweaks social_tags %}

{% block bodyclass %}signin-page{% endblock %}

{#{% block extra_css %}#}
{#    <style type="text/css">#}
{#        .social-auth-backend {#}
{#            margin: 0px 10px 0px 0px;#}
{#            background-image: url('{% static "common/images/social/social_auth.png" %}');#}
{#            background-repeat: no-repeat;#}
{#            display: block;#}
{#            float: left;#}
{#        }#}
{#        .social-auth-backend > img {#}
{#            width: 32px;#}
{#            height: 32px;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Авторизация" %}</h3>
                    </div>
                    <div class="panel-body">
                        {% if form.errors %}
                            <p>Пара e-mail - пароль указана неверно</p>
                        {% endif %}
                        {% if next %}
                            {% if user.is_authenticated %}
                                <p>Вы не имеете доступа к этой странице. Для получения доступа, зайдите под другим именем.</p>
                            {% else %}
                                <p>Пожалуйста, авторизуйтесь чтобы увидеть данную страницу.</p>
                            {% endif %}
                        {% endif %}

                        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                            {% for field in form %}
                                <div class="form-group {% if field.errors %}has-error{% endif %} has-feedback">
                                    <label class="control-label {% if not field.errors %}sr-only{% endif %}" for="{{ field.auto_id }}">
                                        {{ field.errors.as_text }}
                                    </label>
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <span id="{{ field.auto_id }}" class="sr-only"></span>
                                </div>
                            {% endfor %}
                            <input class="btn btn-default" type="submit" value="{% trans "Войти" %}" name="submit">
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                        <div class="pull-right">
                            <div><a href="{% url 'password_reset' %}" >Вспомнить пароль</a></div>
                            <div><a href="{% url 'registration_register' %}" class="pull-right">Зарегистрироваться</a></div>
                        </div>
                        {% social_auth_widget %}
                    </div>
                </div>
            </div>
        </div><!-- /row -->
    </div>
{% endblock %}