{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Восстановление пароля завершено" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="well">
                <p class="note text-center">{% trans "Пароль успешно изменён." %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
