{% extends "base.html" %}
{% load static i18n widget_tweaks %}

{% block bodyclass %}signin-page{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Восстановления пароля" %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            {% trans "Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль." %}
                        </p>
                        <form action="" method="POST">{% csrf_token %}
                            {% for field in form %}
                                <div class="form-group {% if field.errors %}has-error{% endif %} has-feedback">
                                    <label class="control-label {% if not field.errors %}sr-only{% endif %}" for="{{ field.auto_id }}">
                                        {{ field.errors.as_text }}
                                    </label>
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    <span id="{{ field.auto_id }}" class="sr-only"></span>
                                </div>
                            {% endfor %}
                            <input class="btn btn-default" type="submit" value="{% trans "Восстановить мой пароль" %}" name="submit">

                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /row -->
    </div>
{% endblock %}
