{% load i18n static social_tags %}
{% spaceless %}


    <div class="social">
        {% for backend in social_auth.backends %}
            {% get_item social_auth_icons_positions backend as current_item %}
            {% if current_item %}
                <a class="social-auth-backend" name="{{ backend|backend_class }}" href="{% url "socialauth_begin" backend=backend %}"
                   style="background-position: {{ current_item.width }}px {{ current_item.height }}px">
                    <img title="{% trans current_item.name %}" alt="{% trans current_item.name %}" src="{% static "common/images/social/blank.png" %}">
                </a>
            {% endif %}
        {% endfor %}
    </div>

    <style type="text/css">
        .social-auth-backend {
            margin: 0px 10px 0px 0px;
            background-image: url('{% static "common/images/social/social_auth_ru.png" %}');
            background-repeat: no-repeat;
            display: block;
            float: left;
        }
        .social-auth-backend > img {
            width: 32px;
            height: 32px;
        }
    </style>
{% endspaceless %}
