{% extends "base.html" %}
{% load static i18n widget_tweaks social_tags %}

{% block bodyclass %}profile-edit-page{% endblock %}

{% block content_title %}
    <div class="row">
        <div class="col-xs-12">
            <h3>
                <i class="glyphicon glyphicon-briefcase"></i> {% trans "Ваш аккаунт" %}
            </h3>
            <hr>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">
                {% trans "E-mail" %}:
                <b> {{ user.email }} </b>
                <span aria-hidden="true" class="glyphicon glyphicon-ok text-success"></span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">
                {% trans "Имя" %}:
                <b> {{ user.first_name }} </b>
                <span aria-hidden="true" class="glyphicon glyphicon-ok text-success"></span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">
                {% trans "Фамилия" %}:
                <b> {{ user.last_name }} </b>
                <span aria-hidden="true" class="glyphicon glyphicon-ok text-success"></span>
            </p>
        </div>
    </div>
    <div class="social row">

        {#                            {% for backend in backends.backends %}#}
        {##}
        {##}
        {#                                <a class="col-md-2 btn btn-default" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=backend %}">#}
        {#                                    <i class="fa fa-{{ backend }}"></i>#}
        {#                                    {{ backend }}#}
        {#                                </a>#}
        {##}
        {#                            {% endfor %}#}

        {% for backend in social_auth.not_associated %}


            <a class="col-md-2 btn btn-default" name="{{ backend|backend_class }}" href="{% url "socialauth_begin" backend=backend %}">
                <i class="fa fa-{{ backend }}"></i>
                Подключить {{ backend }}
            </a>

        {% endfor %}

        {% for usersocial in social_auth.associated %}


            <a class="col-md-2 btn btn-default" name="{{ usersocial.provider|backend_class }}" href="{% url "socialauth_disconnect_individual" usersocial.provider usersocial.id %}">
                <i class="fa fa-{{ usersocial.provider }}"></i>
                Отключить {{ usersocial.provider }}
            </a>

        {% endfor %}


    </div>

{% endblock %}