<!DOCTYPE html>
{% load static i18n %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="favicon1.ico" rel="icon" type="image/x-icon" />

    {% block css %}
        <link rel="stylesheet" href="{% static "common/css/lib/bootstrap/bootstrap.css" %}" />
        <link rel="stylesheet" href="{% static "common/css/styles.css" %}" />
    {% endblock %}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block extra_css %}
    {% endblock %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

{% block page %}
    {% block navbar_header %}
        <header>
            <!-- Top navbar start -->
            <nav class="navbar navbar-default navbar-transparent">
                <div class="container" id="nav-container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button class="navbar-toggle navbar-toggle-settings" data-target="#top-navbar" data-toggle="collapse" type="button">
                            <span class="sr-only">Переключить навигацию</span>
                            <i class="ion ion-ios7-gear-outline"></i>
                        </button>
                        <a class="navbar-brand logo" href="{% url 'services:index' %}">
                            {{ site_name }}
                        </a>
                        <div class="navbar-side-menu-toggle">
                            <button class="toggle-btn" type="button">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="top-navbar">
                        <ul class="nav navbar-nav navbar-right">
                            {% if not user.is_authenticated %}
                                <li><a href="{% url 'login' %}" >Войти</a></li>
                                <li><a href="{% url 'registration_register' %}" class="pull-right">Зарегистрироваться</a></li>
                            {% else %}
                                <li><a href="{% url 'logout' %}" >Выйти</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <!-- Top navbar end -->
        </header>
    {% endblock %}
    
    <!-- Content container start -->
    <div class="container" id="content-container">
        <div class="content-wrapper">
            <div class="row">


                    <!-- Main content wrapper start -->
                    <div class="main-content-wrapper">

                        <!-- Main content start -->
                        <div class="main-content">
                            {% block messages %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <br>
                                        <div class="row container-padded">
                                            <div class="col-md-12">
                                                <div class="callout callout-{{ message.tags }}">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                    <h4>{% if message.tags == 'success' %}Успех!{% elif message.tags == 'warning' %}Внимание!{% elif message.tags == 'error'%}Ошибка!{% endif %}</h4>
                                                    <p>{{ message }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endblock %}

                                {% block content %}{% endblock %}

                        <!-- Main content end -->
                        </div>
                    </div>
                    <!-- Main content wrapper end -->


            </div>
        </div>
    </div>
{% endblock %}
<!-- Content container end -->
{% block js %}
    <script src="{% static "common/js/lib/jquery/jquery-1.10.2.min.js"%}" type="text/javascript"></script>
    <script src="{% static "common/js/lib/bootstrap/bootstrap.min.js"%}" type="text/javascript"></script>
    <script src="{% static "common/js/lib/slimscroll/jquery.slimscroll.min.js"%}" type="text/javascript"></script>{% endblock %}

{% block extra_script %}
{% endblock %}
</body>
</html>